* {
  margin: 0;
  padding: 0;
}


html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

  min-height: 100vh;
  width: 100%;
  background-color: #fffefe;
}

header {
  width: 100%;
}




@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
}

/* header area */
.header-top-section {
  display: flex;
  height: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40%;
  padding-top: 15px;
  width: 100%;
  align-items: center;




}

@media screen and (max-width: 768px) {
  .header-top-section {
    flex-direction: column;
    gap: 0%;
    height: 100px;
    align-items: center;
  }
}



.h-text {
  padding-left: 6%;
  position: relative;
}

.header-text {
  font-size: 27px;
  font-weight: normal;
  position: relative;
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .header-text {
    font-size: 25px;
  }
}

/* header nav links */


.nav-links ul li {
  list-style: none;
  display: inline-block;
}


.nav-links a:link {
  text-decoration: none;
  color: black;
}

.nav-links a:visited {
  text-decoration: none;
  color: black;
}


.nav-link-1 {
  padding: 25px;
  position: relative;
  top: 20px;
}

.nav-link-2 {
  padding: 30px;
  position: relative;
  top: 20px;
  padding-left: 48px;


}

.nav-link-1:hover {
  border-top: solid 2px;
  border-color: #0065FC;

}

.nav-link-2:hover {
  border-top: solid 2px;
  border-color: #0065FC;

}

@media screen and (max-width: 768px) {
  .nav-link-1 {
    border-top: none;
    border-bottom: solid 4px;
    border-color: #F2F2F2;
    padding-bottom: 9px;
  }

  .nav-link-2 {
    border-top: none;
    border-bottom: solid 4px;
    border-color: #F2F2F2;
    padding-bottom: 9px;
  }



  .nav-link-1:hover {
    border-top: none;
    border-bottom: solid 4px;
    border-color: #0065FC;

  }

  .nav-link-2:hover {
    border-top: none;
    border-bottom: solid 4px;
    border-color: #0065FC;


  }
}

.nav-links a:active {
  color: #0065FC;
}

/* search area*/

#icon {
  background-color: #F2F2F2;
  padding: 10px;
  padding-left: 15px;
  height: 40px;
  width: 45px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  left: 5px;
  bottom: 2px;
}

.search-area {
  display: flex;
  padding-top: 20px;
  padding-left: 4%;
}

@media screen and (max-width: 768px) {
  .search-area {
    justify-content: center;
  }
}

/*search area button*/

.button1 {
  background-color: #0065FC;
  color: white;
  height: 40px;
  width: 80px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  right: 11px;
  bottom: 1px;
}

@media screen and (max-width: 768px) {
  .button1 {
    border-radius: 10px;
    width: 40px;
  }

  .button1 span {
    display: none;

  }

  .button1:before {
    font-family: FontAwesome;
    font-size: 15px;
  }

  .button1:before {
    content: '\f002';

  }

}

.search {
  height: 40px;
  border: #F2F2F2 solid 2px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .search {
    width: 260px;
  }
}



.search-area form {
  width: 600px;

}

.search:focus {
  outline: none;
}



/*filter area*/

.filters {
  padding-top: 20px;
  padding-left: 5%;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/*filter button   */
.button2 {
  display: flex;
  height: 40px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 15px;
  background-color: white;
  border: #F2F2F2 solid 2px;
  font-weight: bold;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 6px;
}

.button2:hover {
  border-color: #DEEBFF;
  color: #0065FC;
}

.filter1 {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #DEEBFF;
  border-radius: 50%;
  position: relative;
  right: 20px;
  align-items: center;
  justify-content: center;
  color: #0065FC;
}

.info-text {

  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  gap: 10px;
  justify-content: start;

}

.info-icon {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  color: #0065FC;
  border-color: #F2F2F2;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  position: relative;
  bottom: 5px;

}

/*accommadations card*/
.card-link {
  text-decoration: none;
  color: #000;
}

.card {
  width: 235px;
  height: 208px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #888888;
  margin: 6px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 360px;

  }
}

.card img {
  width: 235px;
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .card img {
    width: 360px;
  }
}

.card-text1 {
  padding-left: 15px;
  font-weight: bold;

}

.card-text2 {
  padding-left: 15px;

}

.card-icon-euro {
  font-size: 14px;
}

.stars {
  padding-left: 15px;
}

.card-icon-star {
  font-size: 14px;
  padding-top: 8px;
  color: #0065FC;
}

.card-icon-star-grey {
  font-size: 14px;
  padding-top: 8px;
  color: hsl(0, 11%, 84%);
}

.price {
  font-weight: bold;
}

.card a {
  text-decoration: none;
  color: black;
}

/*popular card*/
.card2 {
  width: 345px;
  height: 140px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  box-shadow: 5px 5px 8px #888888;
}

.card2 img {
  height: 135px;
  width: 120px;
  display: flex;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  justify-self: center;
  padding: 2px;
  padding-left: 4px;
}

@media screen and (max-width: 768px) {
  .card2 img {
    height: 170px;
    width: 140px;
    position: relative;

  }
}

@media screen and (max-width: 768px) {
  .card2 {
    height: 175px;
    width: 360px;

  }
}

.card2-text1 {
  position: relative;
  font-weight: bold;
  position: relative;
  right: 8px;
}


.card2-text2 {
  position: relative;
  right: 8px;

}


.card-icon-euro2 {
  font-size: 14px;
}

.stars2 {
  position: relative;
  right: 8px;

}

.card-icon-star2 {
  font-size: 14px;
  padding-top: 8px;
  color: #0065FC;
}

.card-icon-star-grey2 {
  font-size: 14px;
  padding-top: 8px;
  color: hsl(0, 11%, 84%);
}

.price2 {
  font-weight: bold;
}

.card2 a {
  text-decoration: none;
  color: black;
}



/* lower card group layout */
.activities-card-group1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;


}

.activities-card-group2 {
  display: flex;
  flex-direction: column;
  gap: 25px;

}

/* activities section card #1*/

.card3 {
  width: 300px;
  height: 430px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #888888;
}

@media screen and (max-width: 768px) {
  .card3 {
    width: 360px;
    height: 208px;
  }
}

.card3 img {
  width: 300px;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

@media screen and (max-width: 768px) {
  .card3 img {
    width: 360px;
    height: 158px;
  }
}

.card3-text1 {
  padding-left: 15px;
  font-weight: bold;
  padding-top: 8px;

}


.card3 a {
  text-decoration: none;
  color: black;
}

/* activities section card #2*/
.card4 {
  width: 300px;
  height: 170px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #888888;
}

@media screen and (max-width: 768px) {
  .card4 {
    width: 360px;
    height: 208px;
  }
}

.card4 img {
  width: 300px;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

@media screen and (max-width: 768px) {
  .card4 img {
    width: 360px;
    height: 158px;
  }
}

.card4-text1 {
  padding-left: 15px;
  font-weight: bold;
  display: flex;
  padding-top: 10px;

}


.card4 a {
  text-decoration: none;
  color: black;
}

/* activities section card #3*/
.card5 {
  width: 300px;
  height: 235px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #888888;

}

@media screen and (max-width: 768px) {
  .card5 {
    width: 360px;
    height: 208px;
  }
}

.card5 img {
  width: 300px;
  height: 185px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

@media screen and (max-width: 768px) {
  .card5 img {
    width: 360px;
    height: 158px;
  }
}

.card5-text1 {
  padding-left: 15px;
  font-weight: bold;
  display: flex;
  padding-top: 10px;

}


.card5 a {
  text-decoration: none;
  color: black;
}

/* activities section card #4*/
.card6 {
  width: 300px;
  height: 190px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #888888;

}

@media screen and (max-width: 768px) {
  .card6 {
    width: 360px;
    height: 208px;
  }
}

.card6 img {
  width: 300px;
  height: 140px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

@media screen and (max-width: 768px) {
  .card6 img {
    width: 360px;
    height: 158px;
  }
}

.card6-text1 {
  padding-left: 15px;
  font-weight: bold;
  display: flex;
  padding-top: 10px;

}


.card6 a {
  text-decoration: none;
  color: black;
}

/* activities section card #5*/

.card7 {
  width: 300px;
  height: 210px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #888888;

}

@media screen and (max-width: 768px) {
  .card7 {
    width: 360px;
    height: 208px;
  }
}

.card7 img {
  width: 300px;
  height: 160px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

@media screen and (max-width: 768px) {
  .card7 img {
    width: 360px;
    height: 158px;
  }
}

.card7-text1 {
  padding-left: 15px;
  font-weight: bold;
  display: flex;
  padding-top: 10px;

}


.card7 a {
  text-decoration: none;
  color: black;
}

/* card sections*/
.activities-card-area {
  width: 100%;
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  gap: 4%;
  display: flex;
  justify-content: center;
  padding-left: 3%;

}

@media screen and (max-width: 768px) {
  .activities-card-area {
    min-width: 355px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 0%;

  }
}

.activities-header {
  height: 30px;
  margin-left: 5%;
  padding-top: 4%;
  padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
  .activities-header {
    padding-bottom: 50px;
  }
}

.accommadations-card-area {
  width: 61%;
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 3%;
  align-items: center;
  border-radius: 3%;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .accommadations-card-area {
    width: 100%;
    background-color: white;
    margin-left: 0%;
  }
}

.accommadations-card-area h2 {
  width: 100%;
  padding: 4%;
}

.show-link {
  width: 100%;
  align-self: flex-end;
  padding: 40px;
  text-decoration: none;
  font-weight: bold;
  color: black;


}

.popular-card-area {
  background-color: #F2F2F2;
  width: 30%;
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-right: 1%;
  border-radius: 3%;
  gap: 30px;

}

.card-section-header {
  display: flex;
  position: relative;
  right: 25%;
  padding-top: 10%;
  padding-bottom: 10%;
}

@media screen and (max-width: 768px) {
  .card-section-header {
    padding-bottom: 0%;
  }
}

.card-section-header i {
  position: relative;
  left: 100%;
  font-size: 20px;
}

.card-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

}

@media screen and (max-width: 768px) {
  .card-area {
    flex-direction: column;
    justify-content: center;

  }
}

@media screen and (max-width: 768px) {
  .popular-card-area {
    order: -1;
    width: 100%;
    border-radius: 0%;
    padding-bottom: 40px;
    margin-right: 0%;
  }
}

/*footer area*/
footer {
  background-color: #F2F2F2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 17%;
  padding-top: 4%;
  padding-left: 7%;
  margin-top: 3%;
  height: 200px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    height: 430px;
    gap: 10%;
    padding-top: 10%;

  }

}

.footer-links ul {
  list-style: none;


}

.footer-links a:link {
  text-decoration: none;

}

.footer-links ul li {
  padding-top: 10px;

}

.a-link {
  color: black;
}